2.1 Два подхода получения доступа к данным в pandas
---------------------------------------------------------------------------------
При работе со структурами Series и DataFrame, как правило, используют
два основных способа получения значений элементов.
Первый способ
------------------------
основан на использовании меток, в этом случае работа
ведется через метод .loc. Если вы обращаетесь к отсутствующей метке,
то будет сгенерировано исключение KeyError. Такой подход позволяет
использовать:
    
• метки в виде отдельных символов ['a'] или чисел [5], числа
используются в качестве меток, если при создании структуры не
был указан список с метками;

• список меток ['a', 'b', 'c'];

• срез меток ['a':'c'];

• массив логических переменных;

• callable-функция с одним аргументом.

Второй способ
--------------
основан на использовании целых чисел для доступа к
данных, он предоставляется через метод .iloc. Если вы обращаетесь к
несуществующему элементу, то будет сгенерировано исключение
IndexError. Логика использования .iloc очень похожа на работу с
.loc. При таком подходе можно использовать:
    
• отдельные целые числа для доступа к элементам структуры;

• массивы целых чисел [0, 1, 2];

• срезы целых чисел [1:4];

• массивы логических переменных;

• callable-функцию с одним аргументом.

В зависимости от типа структуры, будет меняться форма .loc:
    
• для Series, она выглядит так: s.loc[indexer];
    
• для DataFrame так: df.loc[row_indexer, column_indexer].
    
Создадим объекты типов Series и DataFrame, которые в дальнейшем
будут использованы нами для экспериментов.

In [2]:
import pandas as pd
import numpy as np

In [6]:
#Структура Series:
s = pd.Series([10, 20, 30, 40, 50], ['a', 'b', 'c', 'd', 'e'])
print(s['a'])
print(s)

10
a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
#Структура DataFrame:
d = {'price':[1, 2, 3], 'count': [10, 20, 30], 'percent': [24, 51, 71]}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
df

   price  count  percent
a      1     10       24
b      2     20       51
c      3     30       71

2.2 Доступ к данным структуры Series
------------------------------------
2.2.1 Доступ с использованием меток
--------------------------------------
При использовании меток для доступа к данным можно применять один
из следующих подходов:

• первый, когда вы записываете имя переменной типа Series и в
квадратных скобках указываете метку, по которой хотите
обратиться (пример: s['a']);

• второй, когда после имени переменной пишите .loc и далее
указываете метку в квадратных скобках (пример: s.loc['a']).

In [12]:
#Обращение по отдельной метке.
#Элемент с меткой 'a':
s['a']

10

In [10]:
#Обращение по массиву меток.
#Элементы с метками 'a', 'c' и 'e':
s[['a', 'c', 'e']]

a    10
c    30
e    50
dtype: int64

In [13]:
#Обращение по срезу меток.
#Элементы структуры с метками от 'a' до 'e':
s['a':'c']

a    10
b    20
c    30
dtype: int64