Структура данных DataFrame.
------------------------------
Если Series представляет собой одномерную структуру, которую для
себя можно представить, как таблицу с одной строкой, то DataFrame -
это уже двумерная структура - полноценная таблица с множеством строк
и столбцов.

Конструктор класса DataFrame выглядит так:
    
DataFrame(data=None, index=None, columns=None, dtype=None, copy=False)

Параметры конструктора:
    
• data: ndarray, dict или DataFrame; значение по умолчанию: None
        
>◦ Данные, на базе которых будет создан DataFrame.

• index: одномерный массив; значение по умолчанию: None
        
>◦ Список меток для записей (имена строк таблицы).

• columns: одномерный массив; значение по умолчанию: None
        
>◦ Список меток для полей (имена столбцов таблицы).

• dtype: numpy.dtype; значение по умолчанию: None

>◦ Объект, определяющий тип данных.

• copy: bool; значение по умолчанию: False
        
>◦ Если параметр равен True, то будет создана копия массива
данных.

Структуру DataFrame можно создать на базе следующих типов данных:

• словарь (dict), в качестве элементов которого могут выступать:

>одномерные ndarray, списки, другие словари, структуры Series;

• двумерный ndarray;

• структура Series;

• другой DataFrame.

__________________________________________________________________
Создание DataFrame из словаря.
-------------------------------------------------------
Для создания DataFrame будем использовать словарь, элементами
которого могут быть списки, структуры Series и т.д. Начнем со варианта,
когда элементы — это структуры Series:

> d = {'price':pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),'count':
pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}

> df1 = pd.DataFrame(d)

> print(df1)

In [8]:
import pandas as pd
import numpy as np

d = {'price':pd.Series([1, 2, 3], index=['v1', 'v2', 'v3']),'count': pd.Series([10, 12, 7], index=['v1', 'v2', 'v3'])}
df1 = pd.DataFrame(d)
print('Создание DataFrame из словаря.')
print(df1)

Создание DataFrame из словаря.
    price  count
v1      1     10
v2      2     12
v3      3      7

In [9]:
#Индексы созданного DataFrame:
print(df1.index)

#Столбцы созданного DataFrame:
print(df1.columns)

Index(['v1', 'v2', 'v3'], dtype='object')
Index(['price', 'count'], dtype='object')

In [10]:
#Построим аналогичный словарь, но на элементах ndarray:
d2 = {'price':np.array([1, 2, 3]), 'count': np.array([10, 12, 7])}
df2 = pd.DataFrame(d2, index=['v1', 'v2', 'v3'])
print(df2)
print(df2.index)
print(df2.columns)
#Как видно - результат аналогичен предыдущему. Вместо ndarray можно использовать обычный список Python.

    price  count
v1      1     10
v2      2     12
v3      3      7
Index(['v1', 'v2', 'v3'], dtype='object')
Index(['price', 'count'], dtype='object')

__________________________________________________________________
Создание DataFrame из списка словарей.
-------------------------------------------------------------------
До этого мы создавали DataFrame из словаря, элементами которого
были структуры Series, списки и массивы, сейчас мы создадим
DataFrame из списка, элементами которого являются словари:

In [11]:
d3 = [{'price': 3, 'count':8}, {'price': 4, 'count': 11}]
df3 = pd.DataFrame(d3)
print(df3)

   price  count
0      3      8
1      4     11

Для получения сводной информации по созданному DataFrame можно
использовать функцию info(). Она выводит данные о типе структуры,
количестве записей, количестве non-null элементов в столбцах, типы и
количество хранимых элементов и объем используемой памяти:

In [12]:
print(df3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
price    2 non-null int64
count    2 non-null int64
dtypes: int64(2)
memory usage: 96.0 bytes
None

________________________________________________________
Создание DataFrame из двумерного массива
--------------------------------------------------------
Создать DataFrame можно также и из двумерного массива, в нашем
примере это будет ndarray из библиотеки numpy:

In [13]:
nda1 = np.array([[1, 2, 3], [10, 20, 30]])
df4 = pd.DataFrame(nda1)
print(df4)

    0   1   2
0   1   2   3
1  10  20  30

__________________________________________________
 Работа с элементами DataFrame.
----------------------------------------------------
Рассмотрим наиболее часто
используемые подходы для доступа к элементам структуры.

Работа с элементами DataFrame.
_________________________________________________________________
| Операция                |Синтаксис    | Возвращаемый результат|
|_______________________________________________________________|
| Выбор столбца           |df[col]      | Series                |
|_______________________________________________________________|
| Выбор строки по метке   |df.loc[label]| Series                |
|_______________________________________________________________|
| Выбор строки по индексу |df.iloc[loc] | Series                |
|_______________________________________________________________|
| Срез по строкам         |df[0:4]      | DataFrame             |
|_______________________________________________________________|
| Выбор строк, отвечающих |             |                       |
| условию                 |df[bool_vec] | DataFrame             |
_________________________________________________________________
Рассмотрим работу с данными операциями на практике. Для начала
создадим DataFrame:

In [15]:
d = {'price':np.array([1, 2, 3]), 'count': np.array([10, 20, 30])}
df = pd.DataFrame(d, index=['a', 'b', 'c'])
print(df)

   price  count
a      1     10
b      2     20
c      3     30

In [22]:
#Операция: выбор столбца:
df['count']

a    10
b    20
c    30
Name: count, dtype: int32

In [21]:
#Операция: выбор строки по метке:
df.loc['a']

price     1
count    10
Name: a, dtype: int32

In [19]:
#Операция: выбор строки по индексу:
df.iloc[1]

price     2
count    20
Name: b, dtype: int32

In [23]:
#Операция: срез по строкам:
df[0:2]

   price  count
a      1     10
b      2     20

In [24]:
#Операция: выбор строк, отвечающих условию:
df[df['count'] >= 20]

   price  count
b      2     20
c      3     30